<% provide :button_text, t('signup.submit') %>

<h1><%= t('signup.title') %></h1>

<%= form_with model: @person, url: signup_path, local: true do |f| %>
  <%= render 'people/form_fields', f: f %>
<% end %>
